<h1>Welcome to Control Statement -> switch</h1>
<!---Routing from.html routerLink---->
<button class="btn btn-primary" [routerLink]="'/pipe'">Go To ControlFlow pipe topic</button>
<br><br>

<div class="row">
  <div class="col-3">
    <input type="text" [(ngModel)]="dayNumber"/>
  </div>
  <div class="col-3">
    Day Name is  :
    @switch (dayNumber) {
      @case ('1') {
        <span>Monday</span>
      }
      @case ('1') {
        <span>Monday</span>
      }
      @case ('2') {
        <span>Tuesday</span>
      }
      @case ('3') {
        <span>Wednesday</span>
      }
      @case ('4') {
        <span>Thursday</span>
      }
      @case ('5') {
        <span>Friday</span>
      }
      @case ('6') {
        <span>Satrday</span>
      }
      @case ('7') {
        <span>Sunday</span>
      }
      @default {
        <span>Wrong Entry</span>
      }
    }
  </div>
</div>