<h1>Welcome to Control Statement -> if</h1>
<!---Routing from.html routerLink---->
<button class="btn btn-primary" [routerLink]="'/for'">Go To ControlFlow For</button>
<br><br>

<div class="row pt-3">
  <div class="col-3">
    @if(div1Visiable == true){
      <div class="p-3 text-center bg-primary">
        <h4>Div-1</h4>
      </div>
    }
  </div>
  <div class="col-3">
    @if (isWarningDivVisiable){
      <div class="p-3 text-center bg-warning">
        <h4>Div-2</h4>
      </div>
    }@else {
      <div class="p-3 text-center bg-success">
        <h4>Div-2</h4>
      </div>
    }
    
   
  </div>
</div>

<div class="row pt-3">
  <div class="col-3 text-center">
    <button class="btn btn-danger" (click)="hideDiv1()">Hide</button>&nbsp;
    <button class="btn btn-primary" (click)="showDiv1()">Show</button>
  </div>
  <div class="col-3 text-center">
      <button class="btn btn-success" (click)="toggleDiv2()">Toggle</button>
  </div>